*{
    border: 0;
    margin: 0;
    padding: 0;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
h2{
    font-size: 60px;
    background-color: gray;
    padding: 8px 24px;
    border-radius: 13px;
}
div:nth-child(1){
    background-image: url(images/div-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
div:nth-child(2){
    background: maroon;
}
div:nth-child(3){
    height: 400px;
    background-image: url(images/div-2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
div:nth-child(4){
    background: aqua;
}